# entorno
.env
.venv/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# artefactos ML
*.pt
*.bin
*.faiss
*.parquet

# outputs
dist/
*.egg-info/
.eggs/

# sistema
.DS_Store
*.png
*.jpg
!manuscript/**/*.png
!manuscript/**/*.jpg

# productos de compilación del manuscrito
manuscript/out/
manuscript/**/*.aux
manuscript/**/*.bbl
manuscript/**/*.bcf
manuscript/**/*.blg
manuscript/**/*.fdb_latexmk
manuscript/**/*.fls
manuscript/**/*.log
manuscript/*.pdf
manuscript/**/*.run.xml
manuscript/**/*.synctex.gz
manuscript/**/*.toc
manuscript/**/*.lof
manuscript/**/*.lot
manuscript/**/*.out
manuscript/**/*.dvi
manuscript/**/*.xdv

# Obsidian
.obsidian/
.trash/

# documentacion
docs/Anexos/
docs/presentation/

# logs
logs/
